apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: my-persistent-volume-claim
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 512Mi
  storageClassName: standard
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: container1-deployment
  labels:
    app: container1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: container1
  template:
    metadata:
      labels:
        app: container1
    spec:
      containers:
      - name: container1
        image: hirvacodes/container1:latest #url to docker img
        ports:
        - containerPort: 6000
        volumeMounts:
            - name: my-volume
              mountPath: "/hirva_PV_dir"
        env:
            - name: CONTAINER2_URL
              #value: http://container2-service:6001 #env for calling c2 service
              value: http://container2-service.default.svc.cluster.local:6001
      volumes: 
        - name: my-volume
          persistentVolumeClaim:
            claimName: my-persistent-volume-claim
---
apiVersion: v1
kind: Service
metadata:
  name: container1-service
spec:
  type: LoadBalancer
  selector:
    app: container1
  ports:
    - port: 6000
      targetPort: 6000